@import url(https://fonts.googleapis.com/css?family=Dosis:400,700|Teko);

body {
    margin:0px;
    font-family:dosis;
}
.stroke {
    width: 100%;
}
.stroke > span {
    padding: 75px 20px;
    max-width: 1000px;
    margin:auto;
    box-sizing:border-box;
    display:block;
}
header {
    height:450px;
    width:100%;
    overflow: hidden;
    position: relative;
}
header > div {
    background: linear-gradient(320deg, rgb(16,182,133), rgb(23,49,137));
    width:100%;
    height:100%;
    position:absolute;
}
header img.background-vogel {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    opacity: 0.25;
    width: 750px;
    left: calc(25% - (750px / 436 * 416 / 2));
    position: absolute;
}
header .logo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: 300px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(-150px / 540 * 1040);
}
h1 {
    font-family:Teko;
    font-size:40px;
    line-height:35px;
}
p.intro {font-size:20px;}
a:link {color:rgb(16,182,133);}
a:visited {color:rgb(23,49,137);}
