@import url(https://fonts.googleapis.com/css?family=Dosis:400,700|Teko);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    margin:0px;
    font-family:dosis;
}
.stroke {
    width: 100%;
    background-size:cover;
    background-position:center;
}
.stroke > span {
    padding: 75px 20px;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    box-sizing:border-box;
    display:block;
    /* background-attachment: fixed; */
}
.stroke > span > h1:nth-child(1) {margin-top:0;}
header {
    height:450px;
    width:100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
header > div.background {
    background: linear-gradient(320deg, rgb(16,182,133), rgb(23,49,137));
    width:100%;
    height:100%;
    position:absolute;
    z-index:999;
}
header img.background-vogel {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    opacity: 0.25;
    width: 750px;
    left: calc(25% - (750px / 436 * 416 / 2));
    position: absolute;
}
header .background .logo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    width: 100%;
    height: 100%;
    max-width: 575px;
    margin: auto;
    display: block;
    float: none;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}
header menu > a:link, header menu > a:visited {
    color: white;
    margin: 0 10px;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 66px;
}
header menu {margin:0px;float:right;padding:0px;}
header > .balk {height:66px;width:100%;position:fixed;top:0px;z-index:1000;}
header > .balk > span {
    padding: 0 20px;
    margin: auto;
    display: block;
    max-width: 1000px;
    box-sizing: border-box;
    height:100%;
}
header > .balk .logo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: calc(100% - 10px);
    margin: 5px 0;
    float: left;
    opacity:0;
}
h1 {
    font-family:Teko;
    font-size:40px;
    line-height:35px;
}
header > .balk .material-spec-icon {
    color: white;
    line-height: 66px;
    position: absolute;
    top: 0px;
    font-size: 35px;
    cursor:pointer;
    display:none;
}
header > .balk menu .material-back-icon {
    font-size: 35px;
    cursor: pointer;
    line-height: calc(66px - 2 * 8px);
    padding: 8px 24px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display:none;
}
p.intro {font-size:20px;}
a:link {color:rgb(16,182,133);}
a:visited {color:rgb(23,49,137);}
.boxes {overflow:hidden;}
a.box {
    width: calc(25% - (3 * 20px / 4));
    box-sizing: border-box;
    padding-bottom: calc(25% - (3 * 20px / 4 + 4px));
    display: block;
    margin: 0 20px 20px 0;
    height: 0;
    float: left;
    border: 2px solid #dddddd;
    border-radius: 15px;
    background-size: contain !important;
}
@media (min-width: 650px) {
    a.box:nth-child(4n+0) {
        margin-right: 0;
    }
    a.box:nth-last-child(1),
    a.box:nth-last-child(2),
    a.box:nth-last-child(3),
    a.box:nth-last-child(4) {
        margin-bottom:0;
    }
}
@media (max-width: 650px) {
    header menu {
        position: fixed;
        width: calc(100% - 30px);
        left: -100%;
        top: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fafafa;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        border-right: 1px solid #e0e0e0;
        -webkit-transition: left 0.5s;
        transition: left 0.5s;
        color: #222a35;
    }
    header.active menu {
        left:0;
    }
    header menu > a:link, header menu > a:visited {
        margin: 0px;
        width: 100%;
        color: black;
        padding: 8px 24px;
        box-sizing: border-box;
        line-height: 40px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,.12);
        font-size: 24px;
    }
    header > .balk .logo {
        float: none;
        display: block;
        height: calc(100% - 20px);
        margin: 10px auto;
    }
    header > .balk .material-spec-icon, header > .balk menu .material-back-icon {
        display:block;
    }
    a.box {
        width: calc(50% - (1 * 20px / 2));
        padding-bottom: calc(50% - (1 * 20px / 2 + 4px));
    }
    a.box:nth-child(2n+0) {
        margin-right: 0;
    }
    a.box:nth-last-child(1),
    a.box:nth-last-child(2) {
        margin-bottom:0;
    }
}
